:root{
    --VerdeMusgo:rgb(5, 50, 50);
    --celestePastel:rgb(184, 208, 208);
    --GrisAzulado:rgb(44, 44, 47);
    
}



.conte{
    max-width: 1200px;
    min-width: 400px;
}
@media screen and (max-width: 700px){
    .Recitales{
        display: inline-block;
    }
}



.Ress{
    background-color:var(--celestePastel);
    display:flex;
  justify-content:center;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 20px;
text-align: center;
border: 8px  solid var(--GrisAzulado);
border-radius: 10px;

}


