.grilla{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 1000px;
    /* background-color: rgb(191, 220, 210);   */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}
@media screen and (max-width: 700px){
    .grilla{
        display: inline-block;
    }
}