.caja{
  max-width: 1200px;
}

.Enlace{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 20px;
 
}
.Enlace img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    padding: 70px;
    transform: scale(0.5);
  

}
.Enlace:hover{
  transform: rotate(360deg) scale(2);
  transition: all 6s;
}
.Resumen{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
 margin-left: 400px;
 margin-right: 400px;
}
.Resumen h2{
  border-radius: 30px solid black;
  
  
  color: rgb(72, 69, 67);

}


