.disco{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 20px;
 
}
.disco img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    padding: 50px;

}
.Descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(36, 36, 34);
    padding: none;
}
.Resumen{
  text-align: center;
  color: rgb(224, 218, 212);
 background-color: rgb(36, 36, 34);
}


