.contenedor{
    max-width: 1200px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.pie-de-pagina{
    /* max-width: 1200px; */
    border-top: 10px solid rgb(148, 136, 136);
     background-color: #805f5f;
     text-decoration: double;
     display:flex;
     justify-content: space-between;
    align-items: center;
     grid-template-columns:100px 100px 100px 1fr ;
     grid-template-rows: 2fr 3px;
     padding:1px 1px 1px 1px;
      margin-top: 3px;
 }

 
 
 

 
