
.pie-de-pagina{
    
    border-top: 10px solid rgb(148, 136, 136);
     background-color: #c84d4d;
     text-decoration: double;
     display:flex;
     justify-content: space-between;
    align-items: center;
     grid-template-columns:100px 100px 100px 1fr ;
     grid-template-rows: 2fr 3px;
     padding:1px 1px 1px 1px;
      margin-top: 3px;
 }
 .copyright{
      border-right:2px solid gray;
      
 }
 .direccion-BSAS{
     padding-left: 20px;
 }
 .firma {
     grid-column: 3/5;
     grid-row:3/3 ; 
      text-align:end
 }
 .firma a{
     color: gray;
 
 }
 
.imagenes{
    display: flex;
    justify-content:space-around;
    align-items: baseline;
}