.botonera{
    display: flex;
    justify-content:flex-end;
    color: rgba(60, 58, 58, 0.23);
     padding-left: 3px;
    background-color: rgb(36, 36, 34);
    padding: 3px;
    border: 8px  solid rgb(143, 125, 139);
    border-radius: 15px;
    animation: both;
  
}

  
 
  


.lista{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* background-color: aqua; */
    padding: 20px;
    list-style-type: none;

    

}
.lista a{
    /* text-decoration: none; */
    font-weight:bold;
    
    text-decoration: none;
    color: bisque;
    text-transform:uppercase;

}
.lista li{
    padding: 10px;
    
}