.botonera{
    display: flex;
    justify-content:flex-end;
    
     padding-left: 3px;
    background-color: rgb(58, 114, 114);
    padding: 3px;
    border: 8px  solid rgb(44, 44, 47);
    border-radius: 15px;
 
}

.lista{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* background-color: aqua; */
    padding: 20px;
    list-style-type: none;

    

}
.lista a{
    /* text-decoration: none; */
    font-weight:bold;
    
    text-decoration: none;
    color: bisque;
    text-transform:uppercase;

}
.lista li{
    padding: 10px;
    
}